<!DOCTYPE html>

{% load staticfiles %}

<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Rango</title>
</head>

<body>
    <h1>Rango says...:</h1>
    "Hello world!" <br />
    <p>
       <img src='{% static "images/rango.jpg" %}' alt="Picture of Rango" />
    </p>
    <p>
        <h2>Top categories:</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </p>
    <p>
        <a href="/rango/about/">About</a><br />
    </p>
</body>

</html>