{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Hi!{% endblock %}

{% block body_block %}
    <div class="page-header">
                    <h1>{{greeting}}</h1>
                </div>
                <div>
                    <img src="{% static 'images/talon.jpg' %}" alt="talon" />
                    <p />
                    <br />
                    {{name}}! {{face}}
                    <p/>
                    <a href='{% url "aboutme" %}'>back</a>
                </div>
{% endblock %}